$primary-color: #333;
$secondary-color: #eeeeee;

.align-right {
  display: flex;
  justify-content: right;
}

.align-center {
  display: flex;
  justify-content: center;
}

h1, h4, h6, p {
  text-align: center;
}

h2 {
  margin-left: 5vw;
}

hr {
  color: $secondary-color;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  opacity: 0.2;
}

h6 {
  color: $secondary-color;
  a {
    color: $secondary-color
  }
}

.section {
  width: 30vw;
  background-color: $secondary-color;
  padding: 1vw;
  margin: 1vw;
  box-shadow: 0 0 3px $primary-color;
  font-size: 0.7em;
  text-align: center;
}
