$primary-color: #8BD8BD;
$secondary-color: #243665;
$default-color: #FFFFFF;
$barely-visible: #BBBBBB;

//865 max width

.align-right {
  display: flex;
  justify-content: right;
}

.align-center {
  display: flex;
  justify-content: center;
}

body {
  background-color: $secondary-color;
  color: $default-color;
}

h1, h4, h6, p, h2 {
  text-align: center;
}

h2, h3, h4 {
  color: $primary-color;
}

hr {
  color: $primary-color;
  margin: 2vh 4vh 2vh 4vh;
  opacity: 0.2;
}

h6 {
  color: $barely-visible;
  a {
    color: $barely-visible;
  }
}

#grid-wrapper {
  $offset: 20vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding-left: $offset;
  padding-right: $offset;
}

.section {
  background-color: $secondary-color;
  padding: 1vw;
  margin: 1vw;
  box-shadow: 0 0 3px $primary-color;
  border: 1px solid $primary-color ;
  text-align: center;
  i {
    font-size: 1.5em;
    margin-right: 7px;
  }
  a {
    color: $default-color;

    i {
      font-size: 2em;
    }
  }
}
