$primary-color: #8BD8BD;
$secondary-color: #243665;
$default-color: #FFFFFF;
$barely-visible: #BBBBBB;

// For small screens, we don't use div as obstacle so they can take more space up
$max-width: 1230px;

//1214 max width

.align-right {
  display: flex;
  justify-content: right;
}

.align-center {
  display: flex;
  justify-content: center;
}

body {
  background-color: $secondary-color;
  color: $default-color;
}

h1, h3, h4, h6, p, h2 {
  text-align: center;
}

h2, h3, h4 {
  color: $primary-color;
}

hr {
  color: $primary-color;
  margin: 2vh 4vh 2vh 4vh;
  opacity: 0.2;
}

h6 {
  color: $barely-visible;
  a {
    color: $barely-visible;
  }
}

#grid-wrapper {
  $offset: 20vw;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
//  column-gap: 0px;
//  row-gap: 0px;
  //padding-left: $offset;
  //padding-right: $offset;
}

small {
  font-style: italic;
}

#purpose {
  grid-column: 1 / 4;
}

#simulation-about {
  grid-column: 2 / 5;
  grid-row: 2;
}

#demo-about {
  grid-column: 7 / 10;
  grid-row: 2;
}

#author {
  grid-column: 4 / 8;
  grid-row: 3;
}

#explanation {
  grid-column: 8 / 11;
}

.section {
  background-color: $secondary-color;
  padding: 1vw;
  margin: 1vw;
  box-shadow: 0 0 3px $primary-color;
  border: 1px solid $primary-color ;
  text-align: center;
  height: 100%;

  i {
    font-size: 1.5em;
    margin-right: 7px;
    margin-left: 7px;
  }
  a {
    color: $default-color;

    i {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: $max-width) {
  #config-section {
    width: 23vw;
  }
}

@media screen and (max-width: $max-width) {
  #grid-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section {
    width: 90vw;
  }
}
